doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(data-ad-client="ca-pub-1037938305742665" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
  body
    nav
      ul.navContainer
        li
          a(href="/") Home
        li
          a(href="/contact") Contact
        li 
          a(href="/about") About

    block content
