extends layout
block content
  script(src="../javascripts/dreamgen.js")
  .pageContainer
    .adContainer
      h1 ADs go here
    .pageContentContainer
      h1 Better luck next time!
      br
      h1 
        | It looks like you just weren't quite as "lucky" as Dream today. Don't feel bad though! You weren't likely to 
        | get the lucky page anyway. In fact, if 10 BILLION people clicked this button every second, 24/7, for 100 YEARS,
        | they still woulnd't be likely to get the lucky page. 
      br
      a(href='/') Click me to go back and try again! 
      br
      p man, dream sure is lucky, huh?

    .adContainer
      h1 ADs go here